<main>
    <app-navbar></app-navbar>

    <div class="container border rounded-1 p-5 mt-5">
    @if (message.SUCCESS != '') {
    <div class="alert alert-success" role="alert">
      {{ message.SUCCESS }}
    </div>
    } @if (message.ERROR != '') {
    <div class="alert alert-danger" role="alert">
      {{ message.ERROR }}
    </div>
    }

    <form [formGroup]="form" (ngSubmit)="register()">
      <div class="mb-3">
        <label for="name" class="form-label">Nome</label>
        <input type="text" class="form-control" formControlName="name" />

        @if (form.get('name')?.touched && form.get('name')?.invalid) {
        <div class="text-danger">Nome invalido.</div>
        }
      </div>

      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary btn-lg">Registra</button>
      </div>
    </form>
  </div>
</main>