nav {
    background-color: #4682b4 !important;
}

span, .navbar-link {
    color: #ffffff !important;
}

nav a:hover {
    background-color: #708090 !important;
    border-radius: 10px !important;
}

.navbar-sub-link:hover {
    border-radius: 1px !important;
}