<main>
  <app-navbar></app-navbar>

  <div class="container border rounded-1 p-5 mt-5">
    <div>
      <select class="form-select form-select-lg mb-3" [formControl]="select" aria-label=".form-select-lg example">
        <option value="1">Gerente</option>
        <option value="2">Subgerente</option>
        <option value="3">Vendedor</option>
      </select>   
      
      <button type="button" class="btn btn-primary" (click)="listByTypeEmployee()">Buscar</button>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th scope="col">Matricula</th>
          <th scope="col">Telefone</th>
          <th scope="col">Data de nascimento</th>
          <th scope="col">Comissão</th>
        </tr>
      </thead>
      <tbody>
        @for (i of items; track i.id) {
        <tr>
          <td>{{ i.name }}</td>
          <td>{{ i.email }}</td>
          <td>{{ i.matriculation }}</td>
          <td>{{ i.phone }}</td>
          <td>{{ i.birthDate | date: 'dd-MM-yyyy' }}</td>
          <td>{{ i.commission.toFixed(2) }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</main>
