<main>
  <app-navbar></app-navbar>

  <div class="container border rounded-1 p-5 mt-5">
    <form formGroup="fg" (submit)="onSubmit()">
      <div class="mb-3">
        <label for="name" class="form-label">Nome</label>
        <input
          type="text"
          class="form-control"
          formControlName="name"
        />
        
        @if (fg.get('nome')?.touched && fg.get('nome')?.invalid) {
          <div>
            Nome é obrigatório.
          </div>
        }
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <label for="matriculation" class="form-label">Matrícula</label>
        <input
          type="text"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <label for="phone" class="form-label">Telefone</label>
        <input
          type="tel"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <label for="birth-date" class="form-label">Data de nascimento</label>
        <input
          type="date"
          class="form-control"
        />
      </div>
       
      <div class="mb-3">
        <select class="form-select form-select-lg form-select-sm" >
            <option selected></option>
            <option value="1">Gerente</option>
            <option value="2">Subgerente</option>
            <option value="3">Vendedor</option>
          </select>
      </div>
      
      <div class="mb-3">
        <label for="commission" class="form-label">Comissão</label>
        <input
          type="number"
          class="form-control"
        />
      </div>

      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary btn-lg">Registra</button>
      </div>
    </form>
  </div>
</main>
