<main>
    <app-navbar></app-navbar>

    <div class="container-xxl border rounded-1 p-5 mt-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome do modelo</th>
          <th scope="col">Placa</th>
          <th scope="col">Preço</th>
          <th scope="col">Tipo de transmissão</th>
          <th scope="col">Tipo do veiculo</th>
        </tr>
      </thead>
      <tbody>
        @for (i of items; track i.id) {
        <tr>
          <td>{{ i.modelName }}</td>
          <td>{{ i.plate }}</td>
          <td>{{ i.price }}</td>
          <td>{{ i.transmissionType }}</td>
          <td>{{ i.vehicleType }}</td>
          <td>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#updateModal"
              (click)="update(i)"
            >
              Atualizar
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>

    <div
      class="modal fade"
      id="updateModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Atualização de funcionario</h5>

            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
            ></button>
          </div>
          <div class="modal-body">
            <div>
              @if (message.sucess != '') {
              <div class="alert alert-success" role="alert">
                {{ message.sucess }}
              </div>
              } @if (message.error != '') {
              <div class="alert alert-danger" role="alert">
                {{ message.error }}
              </div>
              }
            </div>
            <form [formGroup]="form" (ngSubmit)="confirm()">
              <div class="mb-3">
                <label for="modelName" class="form-label">Nome do modelo</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="modelName"
                />

                @if (form.get('modelName')?.touched && form.get('modelName')?.invalid) {
                <div class="text-danger">Nome do modelo invalido.</div>
                }
              </div>

              <div class="mb-3">
                <label for="plate" class="form-label">Placa</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="plate"
                />

                @if (form.get('plate')?.touched && form.get('plate')?.invalid) {
                <div class="text-danger">Placa invalido.</div>
                }
              </div>

              <div class="mb-3">
                <label for="price" class="form-label">price</label>
                <input
                  type="number"
                  class="form-control"
                  formControlName="price"
                />

                @if (form.get('price')?.touched &&
                form.get('price')?.invalid) {
                <div class="text-danger">Placa invalida.</div>
                }
              </div>

              <div class="mb-3">
                <select
                  class="form-select form-select-lg form-select-sm"
                  formControlName="transmissionType"
                >
                  <option value="1">Auto</option>
                  <option value="2">Manual</option>
                </select>

                @if (form.get('transmissionType')?.touched &&
                form.get('transmissionType')?.invalid) {
                <div class="text-danger">Tipo da transmissão invalido.</div>
                }
              </div>

              <div class="mb-3">
                <select
                  class="form-select form-select-lg form-select-sm"
                  formControlName="vehicleType"
                >
                  <option value="1">Car</option>
                  <option value="2">Motocycle</option>
                </select>

                @if (form.get('vehicleType')?.touched &&
                form.get('vehicleType')?.invalid) {
                <div class="text-danger">Tipo do veículo invalido.</div>
                }
              </div>

              <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit">Confirma</button>
              </div>
            </form>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
  </div>
</main>